*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Times, serif;
    color: white;
    background-color: black;
}

.header{
    padding:80px;
    margin:20px auto;
    text-align: center;
}

.header p{
    color: gold;
    font-family: 'Lugrasimo', cursive;
}

.title{
    margin-bottom:10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Castoro Titling', cursive;
}

.tribute{
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem ;
    margin: 0px auto;
    align-items: center;
    padding: 0px 0px 0px 1rem; 
}

.tribute blockquote{
    font-family: 'Caprasimo', cursive;
    text-align: center;
    font-size:3rem;
}

.tribute img{
    max-width: 100%;
}

.bio{
    margin: 2rem auto;
    padding:0px 0.5rem;
    max-width: 40rem;
}

.bio h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}

.bio p{
    font-size: 1.2rem;
    line-height: 1.4;
    justify-self:auto;
}